#event-info {
    justify-content: space-around;
    box-sizing: content-box;
    padding-bottom: 7.5rem;
    height: 65vh;

    section {
        width: 40%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
    }

    aside {
        width: 40%;
        margin: 1rem auto;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: flex-start;

        section {
            border: $border-width solid $white;
            flex: 1;

            margin: 0 .5rem;
        }
        
        .short-event-img {
            margin-top: 15%;
        }
    }
}