@import '../components/assets.scss';

$thisBlack: rgba($black, .75);
$activeBorderRadius: .5rem;
#faqs-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    overflow: auto;
    background-color: $red;
    * { max-width: $break-b2; }
    
    div {
        display: flex;
        margin: 0 auto;
        &, * { box-sizing: border-box;}
    }
}    

#faqs-questions {
    flex-direction: column;
    align-content: row;
    justify-content: flex-start;

    max-width: 85%;
    height: 40vh;
    min-height: 350px;
    max-height: 600px;

    padding: 2rem 0;
    &, * {
        box-sizing: border-box;
        user-select: none;
    }
    overflow: hidden;
    

    #faqs-header {
        width: 100%;

        justify-content: space-between;
        flex-wrap: wrap;

        h3 {
            width: auto;
            margin: auto auto auto 1rem;
            user-select: none;
            font-size: 1.75rem;
            line-height: 2rem;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;

            margin: auto 0 auto auto;
            label { visibility: hidden; width: 0; }
            input {
                background: none;
                border: none;
                outline: none;
                color: $white;
                font-size: 1rem;
                display: inline-block;
                padding: 0;
            }
            svg {
                cursor: pointer;
                margin: auto .5rem auto 0;
                font-size: 1.25rem;
                position: relative;
            }
        }
        @media screen and (max-width: $break-d2) {
            justify-content: flex-start;
            width: 100%;

            span {
                margin: 0 0 .5rem auto;
            }
        }
    }

    article {
        padding: .25rem 0;
        margin: 0;
        overflow: auto;
        border: .25rem solid $thisBlack;
        
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;

        div {     
            user-select: none;
            cursor: pointer;
            :hover { text-decoration: underline;}

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            
            font-size: 1rem;
            text-align: center;
            box-sizing: border-box;
            width: 33%;

            @media screen and (max-width: $break-b2) 
                { width: 49.25%; }

            @media screen and (max-width: $break-c1) 
                { width: 100%; }

            
            h4 {
                max-width: 85%;
                padding: .5rem;
                margin: .65rem auto;
                box-sizing: border-box;
                font-weight: 500;
    
            }
    
            &.filtered-in {
                font-size: 1.15rem;
            }
    
            &.filtered-out {
                opacity: .75;
            }
        }
    }
}
.active-listing {
    h4 { font-weight: 800 !important; }
    :hover { text-decoration: none !important; }

    background-color: $thisBlack;
    justify-content: flex-end !important;
}
#answer-space {
    width: 100%;
    margin: 0;
    padding: .5rem;
    background-color: $thisBlack;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;

    * { margin: .15rem 0; }
    a { text-decoration: underline; }
    p { 
        font-size: 1.25rem;
        width: auto; 
    }
}
.hidden-answer {
    display: none;
}
