@import '../components/assets.scss';

$thisBlack: rgba($black, .75);
$activeBorderRadius: .5rem;
#faqs-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    overflow: auto;
    background-color: $red;
    * { max-width: $break-b2; }
    
    div {
        display: flex;
        margin: 0 auto;
        &, * { box-sizing: border-box;}
    }
}    

#faqs-questions {
    flex-direction: column;
    align-content: row;
    justify-content: flex-start;

    padding: 2rem 0;
    // margin: 1rem 0;
    min-height: 350px;
    height: 40vh;
    max-width: 85%;
    max-height: 600px;
    overflow: hidden;

    &, * {
        box-sizing: border-box;
        user-select: none;
    }

    #faqs-header {
        width: 100%;

        justify-content: space-between;
        flex-wrap: wrap;

        h3 {
            margin: 0 0 .5rem 0;
            font-size: 1.75rem;
            width: auto;
            user-select: none;

            
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            // margin: 0 0 .15rem 0;

            input {
                background: none;
                border: none;
                outline: none;
                color: $white;
                font-size: 1rem;
                display: inline-block;
                padding: 0;
            }
            i {
                cursor: pointer;
                margin: 0 .5rem 0 0;
                font-size: 1.25rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        @media screen and (max-width: $break-d2) {
            justify-content: flex-start;
            width: 100%;

            span {
                margin: 0 0 .5rem auto;
            }
        }
    }

    article {
        padding: .25rem 0;
        margin: 0;
        overflow: auto;
        border: .25rem solid $thisBlack;
        border-right: none;
        
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;

        div {     
            user-select: none;
            cursor: pointer;
            :hover { text-decoration: underline;}

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            
            width: 33%;
            box-sizing: border-box;
    
            font-size: 1rem;
            text-align: center;
            
            h4 {
                max-width: 85%;
                padding: .5rem;
                margin: .65rem auto;
                box-sizing: border-box;
                font-weight: 500;
    
            }
    
            &.filtered-in {
                font-size: 1.15rem;
            }
    
            &.filtered-out {
                opacity: .75;
            }
        }
    }
}
.active-listing {
    h4 {font-weight: 800 !important; }

    :hover {
        text-decoration: none !important;
    }

    background-color: $thisBlack;
    justify-content: flex-end !important;
    border-radius: $activeBorderRadius $activeBorderRadius 0 0;
}
#answer-space {
    width: 100%;
    margin: 0;
    padding: .5rem;
    background-color: $thisBlack;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;

    * { margin: .15rem 0; }
    p { width: auto; }
    a { text-decoration: underline; }
}
