#faqs-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 400px;
    // max-height: 400px;
    background-color: $red;
    overflow: auto;

    div {
        width: auto;
        width: 100%;
        max-width: 1260px;
        box-sizing: border-box;

        display: flex;
    }
}

#faqs-questions {
    flex-direction: column;
    align-content: center;
    ul {
        padding: 0;
        width: 95%;
        margin: 0 0 0 5%;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: none;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        li {
            cursor: pointer;
            user-select: none;
            :hover { text-decoration: underline;}
            
            width: 33%;
            font-size: 1rem;
            text-align: left;
            // box-sizing: border-box;

            h4 {
                max-width: 65%;
            }
        }
    }
}

.answer {
    div {

        flex-direction: column;
    }
}
