.field-container {
    height: auto;
    width: 100%;
    padding: 0;
    margin: .25rem 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    
    label {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-weight: 500;
        font-size: 1.25rem;
        user-select: none;
        padding-right: 1rem;
    }
    .input-wrap {
        margin: 0 0 0 auto;

        position: relative;
        
        display: flex;
        flex-direction: row;
        align-content: center;

        input, select, textarea {
            background: none;
            color: $white;
            padding: .5rem !important;
            margin: .5rem 0 !important;
            
            border: .1rem solid $white;
            font-size: 1rem;
            border-radius: .5rem;

            width: 100%;
            
            ::placeholder { color: rgba($white, .85); }
        }

        .form-check {
            width: 1rem;
            height: 1rem;
            cursor: pointer;

            &:active, &:focus {outline: none; border: none; }
        }

    }
    .input-controls {
        display: flex;
        // flex-direction: row-reverse;
        justify-content: flex-start;
        align-content: center;
        
        width: auto; 
        span {
            margin: auto 0 auto auto;
        }
        @media screen and (max-width: 560px) {
            width: 100%;
        }

    }
    input[type=number] { max-width: 4rem;}

    select {
        padding-right: .25rem;
        option {
            background-color: rgba($white, .75);
            color: $black;
            cursor: pointer;
            :hover {
                background-color: rgba($black, .5);
                color: $red;
                cursor: pointer;
            }
        }
    }
}
.errored-item {
    
    &.inine-label .input-wrap, .input-wrap input {
        border-color: rgba($red, .75) !important;
    }
    
}

// ---

.autocomplete-list {
    position: absolute;
    left: 2.5%;
    bottom: .4rem !important;
    z-index: 25 !important;

    box-sizing: border-box;
    width: 95%;
    max-height: 5rem;
    padding: .25rem .5rem;
    
    transform: translateY(100%);

    background-color: $white;//$black;

    overflow-y: auto;
    color: $black;
    background-color: $white;

    border-top: none !important;
    
    box-shadow: 0 0  0 .2rem rgba($red, .75);
    ul {
        
        list-style: none;
        margin: 0;
        padding: 0;

        display: block;
        
        li {
            cursor: pointer;
            p {
                margin: 0;
                color: $black;
            }
            
            width: 100%;
            padding: .25rem 0;
            border-bottom: .1rem $black solid;
            &.active-auto, &:hover 
                { p {color: $red !important;} }
            &:last-child { border: none;}
        }
    }
}

.active-auto p { color: $red !important; }

.inline-label {
    .input-wrap {
        display: flex;
        flex-direction: row;
        align-content: center;

        padding: 0 .5rem;
        margin: .5rem 0 !important;

        width: 100%;
        max-width: 100%;
        &, input { height: auto; }
        overflow: hidden;

        label {
            margin: 0 !important;
            padding: 0 !important;

            font-size: 1rem;
        }
        input { 
            padding: .5rem 0!important;
            border: none;
            border-radius: 0;
            margin: 0 !important;
        }
        border-radius: .5rem;
        border: .1rem solid $white;
    }
}
.hidden-label {
    label {display: none;}
    div { width: 100%; }
}

// ---

.user-links {
    width: 40%;

    @media screen and (max-width: 1050px) {
        width: 45%;
    }
    
    @media screen and (max-width: 875px) {
        width: 49%;
    }
    
    @media screen and (max-width: 560px) {
        min-width: 80vw;
        max-width: 100%;
    }
}

.personal-statement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    label { margin: 0 0 .5rem 0; }
    div {
        &, textarea { width: 100%; }
        textarea { height: 15rem; }
    }
}

// ---

.list-input-control {
    $base-size: 1.5rem;
    $l-margin: calc(#{$base-size}/3);
    
    margin: auto 0;
    display: flex;
    flex-direction: row;
    p {
        cursor: pointer;
        margin: auto 0 auto calc(#{$l-margin}*2);

        $side: calc(#{$base-size} + .5rem);
        width: $side;
        height: $side;
        
        border-radius: 100%;
        box-shadow: 0 0  0 .1rem rgba($red, .75);
        background-color: $white;
        color: $black;

        font-size: $base-size;
        text-align: center;
        font-weight: 500;

        $hover-transition-time: 2.5s;
        transition: transform $hover-transition-time;
    }

    transition: all .25s;
}

.noPreviousListed {
   

   .add-new-entry {
        box-shadow: 0 0  0 .225rem rgba($red, .75);
   }

   .remove-last-entry {
       display: none;
   }
}


// ::-webkit-inner-spin-button

.answer-not-found-wrap {
    @extend .type;
    display: flex;
    flex-direction: row;
    align-content: center;
    
    * { margin: auto 0 auto .25rem; }
}