#splash-area {
    height: calc(100vh - 5rem) !important;
    flex-wrap: wrap;

    max-width: 1260px;
    margin: auto;

    #splash-info {        
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5rem 1.5rem 0;
        * {
            margin: .35rem 0;
            padding: 0;
        }

        h1 { font-size: 3.5rem; }
        h2 {
            font-size: 2rem;
            font-weight: 400;
        }
        h3 {
            font-size: 2.5rem;
            font-weight: 450;
        }
        h4 { 
            font-size: 1rem;
            letter-spacing: .15rem;
            font-weight: 350;
         }

        div {
            width: 7.5rem;
        }
        nav {
            width: auto;
            justify-content: center;

            button {
                margin: 1rem;
                color: $black;
                
                font-size: 1.5rem;
                font-weight: 350;
            }
        }
    }

    #splash-logo {
        width: 30%;
        margin: auto 5%;
    }

    @media only screen and (max-width: $break-b2) {
        #splash-info {    
            // margin-left: .5rem;

            h1 { font-size: 3rem; }
            h2 { font-size: 1.75rem; }
            h3 { font-size: 2.15rem; }
            h4 { font-size: 1rem; }

            nav button {
                margin: auto;
                padding: .75rem; 
            }
        }

        #splash-logo { 
            width: 50%;
            margin: auto; 
        }
    }

    @media only screen and (max-width: $break-c2) {
        #splash-info { 
            margin-left: .5rem;

            h1 { font-size: 2.75rem; }
            h2 { font-size: 1.5rem; }
            h3 { font-size: 2rem; }
            h4 { 
                font-size: .75rem;
                letter-spacing: .1rem;
            }

            nav button
                { padding: 1rem; }
        }
        #splash-logo { 
            width: 47.5%;

            margin: auto auto auto 2.5%; 
        }
    }
    @media only screen and (max-width: $break-c3) {
        #splash-info nav button { margin: .5rem; }
        #nav-about { display: none; }
    }
}