@import '../components/assets.scss';

#sponsor-container {
    width: 100%;
    &, * {display: flex;}
    flex-direction: row;
    justify-content: center;
    
    #sponsor-list {
        margin: auto;
        padding: 1rem 0;

        height: 100%;
        max-width: 1260px;

        flex-direction: column;
        justify-content: center;
        
        box-sizing: border-box; 
        
        &, section {
            width: 100%;
            align-content: center;
        }
        h2 {
            font-size: 2rem;
            margin: auto;
            @extend .bgHeader;
        }
        section {
            &, a {
                flex-direction: row;
                
            }
            max-width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            padding: 2.5rem;
            
            &#teir1Sponsors a {
                width: 49%;
                max-height: 12.5rem;
            }
            &#teir2Sponsors a {
                width: 32%;
                max-height: 10rem;;

            }
            &#teir3Sponsors a { 
                max-height: 7.5rem;
                width: 24%;
            }
            a {
                box-sizing: border-box;
                margin: auto;
                
                img {
                    width: auto;
                    // height: 100%;
                    max-height: 100%;
                    max-width: 100%;
    
                    transition: transform, .5s;
                    transform: scale(.9);
                    transform: translate(.05, .05);

                    margin: auto 1rem;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                        transform: translate(-.05, -.05);
                    }
                }

                &:visited, &:active, &:hover, &:focus { outline: none; border: none; }
            }
    
            
        }
    }
}