@import '../components/assets.scss';

#sponsor-container {
    width: 100%;
    &, * { display: flex; }
    flex-direction: row;
    justify-content: center;
    
    #sponsor-list {
        margin: auto;
        padding: 1rem 0;
        box-sizing: border-box; 

        height: 100%;
        max-width: 1260px;

        flex-direction: column;
        justify-content: center;
        
        &, section {
            width: 100%;
            align-content: center;
        }
        h2 {
            @extend .bgHeader;
            font-size: 2rem;
            margin: auto auto 1rem auto;
        }
        section {
            &, a { flex-direction: row; }
            justify-content: center;
            flex-wrap: wrap;

            max-width: 100%;
            padding: 2.5rem;

            a {
                box-sizing: border-box;
                margin: auto;
                
                img {
                    width: auto;
                    max-height: 100%;
                    max-width: 100%;
                    margin: auto 1rem;
    
                    transition: transform, .5s;
                    transform: scale(.9);
                    transform: translate(.05, .05);

                }

                &:hover, &:focus {
                    img {
                        transform: scale(1.1);
                        transform: translate(-.05, -.05);
                    }
                }
                &:visited, &:active, &:hover, &:focus
                    { outline: none; border: none; }
            }
            &#teir1Sponsors a {
                width: 49%;
                max-height: 12.5rem;
            }
            &#teir2Sponsors a {
                width: 32%;
                max-height: 10rem;;
            }
            &#teir3Sponsors a { 
                max-height: 7.5rem;
                width: 24%;
            }
            // a s { max-height: 100%;}
            @media screen and (max-width: $break-b2) {
                a img { 
                    margin: auto;
                    &:hover, &:focus {
                        img {
                            transform: scale(1.05);
                            transform: translate(-.025, -.025);
                        }
                    }
                }
                padding: 0;
                &#teir1Sponsors a {
                    width: 90%;
                    img { max-height: 12rem; }
                    &:first-child{ margin-bottom: 1rem; }
                }
                &#teir2Sponsors a {
                    width: 45%;
                    height: 10rem;
                }
                &#teir3Sponsors a { 
                    height: 4rem;
                    width: 34%;
                }
            }
            @media screen and (max-width: $break-c1) {
                &#teir1Sponsors a { width: 95%; }
                &#teir2Sponsors a { width: 49%; }
                &#teir3Sponsors a { width: 40%; }
            }
        }
        @media screen and (max-width: $break-b2) { width: 92.5%; }
    }
}