#sponsorship-info {
    justify-content: space-around;
    height: 65vh;

    img {
        width: 40%;
    }

    section {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 2rem;
            margin: 0;
        }

        * {
            margin: 0;
        }
    }
    @media only screen and (max-width: $break-b2) {
        section {
            width: 50%;
        }
    }
    @media only screen and (max-width: $break-c1) {
        img {
            width: 30%;
        }
    
        section {
            width: 65%;
        }
    }
}