@import 
'./../components/assets.scss',
'./../components/form.scss';

* { 
    @extend .type;
    color: $white;
    box-sizing: border-box;
}
body {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 100vh;
}

#app-wrap {
    flex: 1;
    margin: 0;
    padding: 0 5%;
    box-sizing: border-box;
    height: auto !important;
    overflow-y: visible;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    header {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        #header-wrap {
            width: 100%;
            max-width: 1260px;

            h3 {
                font-size: 1.75rem;
                @extend .bgHeader;
            }
        }
    }
    
    main {
        margin: 0;
        padding: 0;
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.app-section {
    width: 100%;
    height: 100%;
    max-width: 960px;

    margin: auto;

    #application-items {
        width: 100%;
        margin: auto 0;
        list-style: none;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

#personal { 
    justify-content: space-around;
    max-height: 600px;
}
#event { 
    justify-content: center; 
}

#app-navigator {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    ul {
        width: 90%;
        max-width: 1260px;
        padding: 0;
        margin: auto;
        font-size: 1rem;
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button:first-child { margin: 0 auto 0 0 }
    }
}

.report-underlay, .report-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    position: absolute;
}    
.report-underlay {
    cursor: pointer;
    z-index: 10;
    background-color: rgba($white, .6);
}
.report-container {
    &, .report-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .report-content {
        cursor: default;
        z-index: 15;

        max-width: 95vw;
        min-width: 560px;
        box-sizing: border-box;
        
        margin: auto;
        padding: 1rem;
        border-radius: .5rem;
        background-color: #000;

        h2, div { margin: .5rem 0 0 0; user-select: none; }
        #report-title { font-size: 1.5rem; }
        #report-summary { font-size: 1rem; }


    }

    #report-responses {
        &, div {
            display: flex;
            flex-direction: row;
            align-content: center;
        }
        div {
            width: auto;
            margin: auto 0;
            * {
                display: inline-block;
                margin: auto 0;
            }
        }
    }
}

#incomplete-app-report {
    #needed-items {
        // margin: 0 0 1.25rem 0;
        // font-size: 1rem;
        list-style: none;
        li {
            margin: .25rem 0;
            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }
    }
}
#complete-app-report {
    .consentor {
        @extend .type;
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0 0 1rem 0;

        input {
            cursor: pointer;
            font-size: 2rem;
            margin: 0 .5rem;

            transition: transform ease-in .5s;
        }

        &:hover, &:focus {
            input {

                transform: scale(1.25);
                transform: translate(.125, .125);
            }
        }
    }

}

#token-submission-error {

}

#other-submission-error {
    $border: .1rem solid $red; 
    a {
        cursor: pointer;
        border-bottom: $border;
    }
    .submission-error {
        cursor: text;
        user-select: all !important;

        border: $border;
        padding: .25rem;
        display: inline-block;

        font-size: 1.25rem;
        font-weight: 500;
    }
}

#successful-submission-error {

}
 