@import 
'./../components/assets.scss',
'./../components/form.scss';

* { 
    @extend .type;
    color: $white;
    box-sizing: border-box;
}
body {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#app-wrap {
    flex: 1;
    margin: 0;
    padding: 0 5%;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    header {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        #header-wrap {
            width: 100%;
            max-width: 1260px;

            h3 {
                font-size: 1.75rem;

                padding: .15rem .5rem .15rem .15rem;
                display: inline-block;
                background-color: rgba($red, .5);
            }
        }
    }
    
    main {
        margin: 0;
        padding: 0;
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.app-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    height: 100%;
    max-height: 600px;
    width: 100%;
    max-width: 960px;
    margin: auto;
}

#personal { justify-content: space-around; }
#event { justify-content: center; }

#app-navigator {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    ul {
        width: 90%;
        max-width: 1260px;
        padding: 0;
        margin: auto;
        font-size: 1rem;
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button:first-child { margin: 0 auto 0 0 }
    }
}
