@import
'./../components/assets.scss',
'./../components/splash.scss',
'./../components/event-info.scss',
'./../components/sponsorship-info.scss';
// './../components/faqs.scss';

// Setup

body, html {
    margin: 0;
    padding: 0;
    
    max-width: 100%;
    overflow-x: hidden;
}

.screen {
    margin: auto;
    width: 100%;
    max-width: 1260px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#mlh-trust-badge {
    position:absolute;
    bottom: 0;
    right: 2.5vw;
    height: auto;
    z-index:19;
    transform: translateY(100%);

    img {
        right: 2.5vw;
        height: 100px;
        width: auto;

        @media screen and (min-width: $break-c2) 
            { height: 15vh; }
    }

}

.modal-lock {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
}