@import
'./../components/assets.scss',
'./../components/splash.scss',
'./../components/event-info.scss',
'./../components/sponsorship-info.scss';

// Setup

body, html {
    margin: 0;
    padding: 0;
}

.screen {
    margin: auto;
    // height: 100vh;
    width: 100%;
    max-width: 1260px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#mlh-trust-badge {
    display:block;
    max-width:100px;
    min-width:50px;
    position:absolute;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    transform: translateY(100%);
    width:10%;
    z-index:10000;
}
