@import
'./../components/assets.scss',
'./../components/splash.scss',
'./../components/event-info.scss',
'./../components/sponsorship-info.scss';

// Setup

body, html {
    margin: 0;
    padding: 0;
}

.screen {
    margin: auto;
    // height: 100vh;
    width: 100%;
    max-width: 1260px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
