@import './../components/assets.scss';

body, html {
    margin: 0;
    padding: 0;
}

#main-nav, #home-button, #nav-options {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#main-nav {
    @extend .type;
    border-bottom: $border-width solid $white;

    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: .5rem 5%;
    margin: 0;
    
    justify-content: space-between;
    position: relative;

    #home-button {
        height: 85%;
        width: auto;
        margin: auto 0;
        padding: 0;

        justify-content: flex-start;
        border: none !important;
        outline: none !important;
        img { 
            margin: 0 .5rem 0 0; 
            height: 3.5rem;
            width: 5rem;
            max-height: 100%;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: .25rem;

            margin: auto 0;
            min-width: 100%;
        }
    }

    #nav-options {
        height: 40%;
        margin: auto 0 auto auto;
        padding: 0;

        justify-content: space-evenly;

        * {
            display: inline-block;
            width: auto;
            height: auto;
            margin: auto .5rem;

            font-size: .85rem;
            font-weight: 200;
            line-height: 1.15rem;
            letter-spacing: .15rem;
            text-transform: uppercase;
        }

        li {
            :hover { text-decoration: underline;}
            * {cursor: pointer;}
        }
    }

    @media only screen and (max-width: $break-b3) {
        #home-button h2 {
            width: 3rem;
            font-size: .85rem;
        }

        #nav-options {
            justify-content: flex-end;
        }
        
    }

    @media only screen and (max-width: $break-c1) {
        #home-button h2 { display: none; }

        #nav-options {
            * { 
                // font-size: .5rem;
                margin: auto .25rem;
            }
        }
    }
    @media only screen and (max-width: $break-d1) {
        
        #nav-options * {
            // margin: auto .05rem;
            font-size: .65rem;
            font-weight: 500;
            line-height: .9rem;
        }
    }

    @media only screen and (max-width: $break-d2) {
        #nav-options * {
            margin: auto .05rem;
        }
        #nav-about {
            display: none;
        }
    }
}

//Here so the other sections aren't visible before page-specific styles load
.other-section {
    display: none;
}