@import './../components/assets.scss';

body, html {
    margin: 0;
    padding: 0;
}

#main-nav, #nav-logotype, #nav-options {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#main-nav {
    @extend .type;
    border-bottom: $border-width solid $white;

    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: .5rem 5%;
    margin: 0;
    
    justify-content: space-between;

    #nav-logotype {
        height: 85%;
        width: auto;
        margin: auto 0;
        padding: 0;

        justify-content: flex-start;

        img { 
            margin: 0 .5rem 0 0; 
            height: 3.5rem;
            width: 5rem;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: .25rem;

            margin: auto 0;
            min-width: 100%;
        }
    }

    #nav-options {
        height: 40%;
        margin: auto 0 auto auto;
        padding: 0;

        justify-content: space-evenly;

        * {
            display: inline-block;
            width: auto;
            height: auto;
            margin: auto .5rem;

            font-size: .85rem;
            font-weight: 200;
            letter-spacing: .15rem;
            text-transform: uppercase;
        }
    }

    @media only screen and (max-width: $break-c1) {
        #nav-logotype {
            h2 {
                width: 5rem;
                font-size: 1.25rem;
            }
        }

        #nav-options {
            justify-content: flex-end;
        }
    }

    @media only screen and (max-width: $break-c1) {
        #nav-logotype {
            h2 {
                width: 3rem;
                font-size: .85rem;
            }
        }

        #nav-options {
            * { 
                // font-size: .5rem;
                margin: auto .25rem;
            }
        }
    }
    @media only screen and (max-width: $break-c3) {
        #nav-logotype {
            h2 {
                display: none;
            }
        }

        #nav-options {
            // * { 
            //     // font-size: .5rem;
            //     margin: auto .25rem;
            // }
        }
    }
}

//Here so the other sections aren't visible before page-specific styles load
.other-section {
    display: none;
}